<!DOCTYPE HTML>
<head>
	<title>Bettit - <%= title %></title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		io = io.connect();

		// Emit ready event with room name.
		io.emit('money', "AgileCoke");

		io.on('money_response', function(data) {
			$("#money").append(data.money);
		})
	</script>
</head>
<body>
	User = <%= user %>
	<br />
	<div id="money">
		Money =
	</div>
	<br/>
</body>